<nav>
  <div class="nav-wrapper">
    <a href="https://github.com/risaco/WaPo-Tech-Scraper" class="brand-logo">Repo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a class="waves-effect waves-light btn scrape-new">Find New Articles!</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1>Technology News</h1>
    <h3>...according to Washington Post</h3>
  </div>
</div>
<div class="container articleContainer"></div>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2017 Risaco
    <a class="grey-text text-lighten-4 right" href="https://github.com/risaco/WaPo-Tech-Scraper">Peep the Code!</a>
    </div>
  </div>
</footer>

<script src="../../assets/javascript/index.js"></script>
